h2 Personal details
table.facts
  tr
    td name
    td Mark Petruska
  tr
    td date of birth
    td 28th November, 1981
  tr
    td phone
    td +36 20 312 8347
  tr
    td email
    td petruska[dot]mark[at]gmail[dot]com
  tr
    td github
    td <a href="https://github.com/mpetruska">mpetruska</a>
  tr
    td gitlab
    td <a href="https://gitlab.com/mpetruska">mpetruska</a>
  tr
    td bitbucket
    td <a href="https://bitbucket.org/proxy">proxy</a>
