h2 Certificates
ul
  li 2015 Certified developer on <b>Apache Spark</b> (Databricks)
  li 2015 Certified <b>Cassandra Developer</b> (DataStax)
  li 2013 MCPD <b>Windows Phone developer</b> 4 (Microsoft)
  li 2013 MCPD <b>Silverlight developer 4</b> (Microsoft)
  li 2012 MCTS <b>SQL Server 2008</b>, Database Development (Microsoft)
  li 2011 MCPD <b>Web developer</b> 4 (Microsoft)

h2 Independent coursework
ul
  li <b>Machine Learning</b> (Andrew Ng, Stanford University, Coursera)
  li <b>R Programming</b> (Johns Hopkins University, Coursera)
  li The <b>Data Scientist</b>'s Toolbox (Johns Hopkins University, Coursera)
