p.
  Mainly worked on a finance project as a developer and mentor.
  Trained co-workers in basic and advanced Scala, and advanced
  functional programming techniques.

p.
  Introduced mathematically proven algorithms to a key area based on
  Calculus of Inductive Constructions.
