p.
  While working at Epam, I truly became a master of object-oriented
  programming and design; although working with object-oriented
  code, libraries and tools always felt a little "strange" to me.

p.
  After doing a thorough research on programming paradigms and
  methodologies, I fell in love with functional programming.
  While deepening my understanding I started to also teach
  colleagues to F# and to Scala at some extent.
