p.
  As a founding member of the team, introduced akka clustering, protocol buffers,
  <b>scalaz</b> and Amazon Sqs to the project.

p.
  Also worked heavily to establish good functional programming techniques
  with the team, through experimenting and training/mentoring colleagues.
