p.
  Got my first functional programming position at an outsourcing company.
  Met some truly brilliant developers/engineers/professors and learned a lot.
  Quickly caught up the pace and soon I became a reliable team member.
