p.
  While working at LogMeIn I learned a lot, mostly about
  human interactions and workspace politics in a "large company"
  setting. It quickly turned out to me that the culture of the
  enterprise did not fit me well; and we would just hurt
  each other if I were to participate longer.

p.
  Before LogMeIn I mainly worked at small companies in various
  C# developer roles.
  (More details can be found on <a href="https://www.linkedin.com/in/mark-petruska-1a611527">LinkedIn</a>.)
