doctype html
html(lang="en")
  head
    title Curriculum vitae
    
    meta(charset="utf-8")
    meta(name="viewport", content="width=1024")
    meta(name="apple-mobile-web-app-capable", content="yes")
    
    include css
  
  body
    
    #basic-information
      include basic-information
    
    #objectives
      include objectives
    
    #skills-1
      include skills-1
    
    #skills-2
      include skills-2
    
    #certificates
      include certificates
    
    #experience-1
      include experience-1
    
    #experience-1-background
      include experience-1-background
    
    #experience-2
      include experience-2
    
    #experience-2-background
      include experience-2-background
    
    #experience-3
      include experience-3
    
    #experience-3-background
      include experience-3-background
    
    #experience-4
      include experience-4
    
    #experience-4-background
      include experience-4-background
    
    #experience-5
      include experience-5

    #experience-5-background
      include experience-5-background
