h2 About me
p.
  Functional programming and crypto enthusiast, on the assignment
  of building a better and more honest world.

p.
  The road to formally verified smart contracts on all blockchains
  started here:
  <a href="https://drive.google.com/file/d/1lafzfhvD-R5va4YQjO-yxfwnHskgCC0a/view" target="_blank">Formal Verification of Algorand smart contracts</a>
