h2 Skills

p.
  Functional programming, functional programming and fp. :)
  (Yes, I'm very enthusiastic about it.)

p.
  Very strong analytic thinking. I always try to find multiple
  paths to solve a problem to be able to choose the best.

p.
  Dedicated teacher: teaching is part of everybody's learning
  process. ("If you can’t explain something in simple terms, you don’t understand it.")
