h2 Technical skills
p.
  Programming languages: <b>Coq</b>, <b>PureScript</b>, Haskell,
    <b>Scala</b>, <b>F#</b>, Ocaml, <b>Elixir</b>, Erlang (and anything functional really) ...

p.
  other programming languages: <b>C#</b>, Java, Python, <b>R</b>, T/SQL, C++, <b>JavaScript</b>

p.
  Technologies: <b>Docker</b>, Vagrant, <b>Linux</b>, Mac, Windows, Cassandra,
    various sql servers (MS SQL, postgres, MySql),
    <a href="https://www.youtube.com/watch?v=VT-QFmIilRU"><b>Edeliver</b></a>, <b>Erlang OTP</b>,
    <b>.Net framework</b>, JVM
