h2 Technical skills
p.
  Programming languages: <b>Coq</b>, <b>Haskell</b>, PureScript,
    <b>Scala</b>, F#, Ocaml, Elixir, Erlang (and anything functional really) ...

p.
  other programming languages: <b>C#</b>, Java, Python, <b>R</b>, T/SQL, C++, <b>JavaScript</b>

p.
  Technologies: <b>Docker</b>, Vagrant, <b>Linux</b>, <b>Nix/NixOS</b>, Mac, Windows, Cassandra,
    various sql servers (MS SQL, postgres, MySql),
    <a href="https://www.youtube.com/watch?v=VT-QFmIilRU"><b>Edeliver</b></a>, Erlang OTP,
    .Net framework, JVM
